  <h2>@SelectedHero.Name.ToUpper() Details</h2>
  <div><span>id: </span>@SelectedHero.Id</div>
  <div>
    <label>name:
      <input @bind="@SelectedHero.Name" placeholder="name"/>
    </label>
  </div>

  @code 
  {
      [Parameter]
      public Hero SelectedHero {get; set;} = new Hero();
  }