<h2>My Heroes</h2>
<ul class="heroes">
    @if(heroes == null)
    {
      <li>Loading ...</li>
    }
    else
    {
      @foreach (var hero in heroes)
      {
          <li @onclick="@(() => SelectHero(hero))" class="@((hero == selectedHero ? "selected": ""))">
            <span class="badge">@hero.Id</span> @hero.Name
          </li>
      }
    }
</ul>

@if (selectedHero != null)
{
  <HeroDetail SelectedHero="selectedHero"/>
}

@code {
    List<Hero>? heroes;
    Hero? selectedHero;

    private void GetHeroes()
    {
       heroes = MockHeroes.Heroes;
    }

    protected override void OnInitialized()
    {
      GetHeroes();
    }

    private void SelectHero(Hero hero)
    {
      selectedHero = hero;
    }
}