  @layout Shared.HeroesLayout
  @page "/detail/{Id}"
  @inject IHeroService HeroService
  @inject NavigationManager Navigator
  <div class="herodetail">
    @if(SelectedHero != null)
    {
      <h2>@SelectedHero.Name.ToUpper() Details</h2>
      <div><span>id: </span>@SelectedHero.Id</div>
      <div>
        <label>name:
          <input @bind="@SelectedHero.Name" placeholder="name"/>
        </label>
      </div>
    }

    <button @onclick="GoBack">go back</button>
    <button @onclick="Save">save</button>
  </div>

  @code
  {
    [Parameter]
    public Hero SelectedHero { get; set; } = new Hero();
    [Parameter]
    public string Id { get; set; } = "";

    protected override async Task OnInitializedAsync() => await GetHero();

    private async Task GetHero()
    {
      SelectedHero = await HeroService.GetHeroAsync(Convert.ToInt32(Id));
    }

    private void GoBack()
    {
      Navigator.NavigateTo("/");
    }

    private async void Save()
    {
      await HeroService.UpdateHeroAsync(SelectedHero);
      Navigator.NavigateTo("/");
    }
  }