@layout Shared.HeroesLayout
@inject IHeroService HeroService
@inject NavigationManager Navigator
@page "/dashboard"
@page "/"

<div class="dashboard grid grid-pad">
    <h3>Top Heroes</h3>
    @if(heroes == null)
    {
        <h4>Loading your Heroes ...</h4>
    }
    else
    {
        @foreach(var hero in @heroes)
        {
            <div class="module col-1-4" @onclick="@(() => NavigateToDetail(@hero.Id))">
                <h4>@hero.Name</h4>
            </div>
        }
    }
</div>

<HeroSearch />

@code
{
    List<Hero>? heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = (await HeroService.GetHeroesAsync()).GetRange(1,4);
    }
    private void NavigateToDetail(int id)
    {
        Navigator.NavigateTo($"/detail/{id}");
    }
}