@page "/"
@inject IMessageService MessageService
@implements IDisposable
@using System.ComponentModel

<Heroes />

@if (MessageService.Messages != null)
{
    <div class="messages">
        <h2>Messages</h2>
        <button class="clear" @onclick="MessageService.Clear">clear</button>
        @foreach (var message in @MessageService.Messages)
        {
            <div>@message</div>
        }
    </div>
}

@code {
    protected override void OnInitialized()
    {
        MessageService.PropertyChanged += OnMessageServiceChanged;
    }

    void OnMessageServiceChanged(object sender, PropertyChangedEventArgs ea)
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        MessageService.PropertyChanged -= OnMessageServiceChanged;
    }
}