@inherits LayoutComponentBase

<div class="main">
    <h1>@title</h1>

    <nav>
        <a href="/dashboard" class="navigation">
            Dashboard
        </a>
        <a href="/heroes" class="navigation">
            Heroes
        </a>
    </nav>
    @Body
</div>

@code {
    string title = "Tour of Heroes";
}